<!doctype html>
<html ng-app="App">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-route.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="app.js"></script>
  <link rel="stylesheet" href="app.css"/>
</head>
<body>

  <div ng-controller="MainCtrl">
    <h1 class="text-center">Add Cute Pics!!!</h1>
    <div class="row"></div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <input class="form-control ng-pristine ng-valid" type="text" ng-model="picURL"/>
      </div>
      <div class="col-md-2"><button class="btn btn-primary btn-block" ng-click="send()">Submit</button></div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <img ng-src="{{picURL}}" class="img-rounded img-responsive center-block"/>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</body>
</html>